
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 30px 40px;
    
    
}
.sub-container{
    display: flex;
   
    flex-basis: 100%;
}

.navigation{
    flex-basis: 5%;
    
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Mulish';
    flex-basis: 10%;
    background: #0a0a0a;
    width: 90px;
    border-radius: 16px;
    padding: 20px 50px;
    margin: 5px 20px;
    margin-right: 90px;
    text-align: center;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    position: sticky;

}
nav ul li{
    
    list-style: none;
    
    padding: 30px 35px;
}
nav ul li img{
    width: 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
     
 }

.spoon{
   background: #F1D5BB;
   padding: 45px 35px 30px;
}
.first{
    padding-top: 15px;
    padding-bottom: 10px;
}
.first img{
    width: 40px;   
}

 .items{
    flex-basis: 90%;
    margin-bottom: 10px;
    text-align: center;
 }

.logo{
   text-transform: uppercase;
    width: 306px;
    height: 63px;
   

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 63px;



    color: #000000;
    position: relative;
    margin-bottom: 30px;
}
 .logo::after{
    content: '';
    width: 305px;
    height: 5px;
    background: #F1D5BB;
    position: absolute;
    left: 4px;
    bottom: -2px;
     
}
 .foods{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
   grid-gap: 30px; 
}
.plate{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    font-family: 'Mulish';
}
.plate img{
    width: 100%;
    transition: all 0.5s linear;
 
}
.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8));
    border-radius: 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 30px;
    transition: height 0.4s  linear ;
    color: #fff;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer .btn{
    padding: 10px;
    margin: 30px auto 0;
    text-transform: uppercase;
    background: #F1D5BB;
    color: #0a0a0a;
    cursor: pointer;
}

.plate:hover img{
    transform: rotateY(180deg);
    background: rgba(0, 0, 0, 1);
}
.plate:hover .layer{
    height: 100%;
}
.load-more{
    margin-top: 20px;
    
}
.load-more a{
    text-decoration: none;
    color: #fff;
}
.load-more button{
    padding: 19px 55px;
    background: #0a0a0a;
    color: #fff;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    color: #262626;
    font-weight: 300;
    margin-top: 20px;
    font-family: 'Mulish';
}
.copyright i{
    color: #F1D5BB;
}
